<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base:: layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="banner d-flex justify-content-center align-items-center">

        <div class="container text-center">
            <h1 class="fade-text text-uppercase">About Me</h1>
           <div class="pragraph-about mt-4">
            <p>👋 Hi, I'm Nitish Kumar, a passionate and driven pre-final year Computer Science student with a strong foundation in Java and Spring Boot. I specialize in full-stack development, exploring both frontend and backend technologies to create seamless and efficient applications.
                <br>
                <br>
                 My interests span across web development, software engineering, and AI-driven solutions.
                <br>
                🎮 When I’m not coding, you’ll find me gaming, listening to music, or exploring new tech trends. My goal is to work on impactful projects and secure a position at a top tech company like Google.
                
                🚀 Let’s connect and build something amazing together!</p>
           </div>
        </div>
    </section>
</body>
</html>