<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base:: layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="skills-container">
        <div class="container text-center mt-2">
            <h1>Projects</h1>
        </div>

        <div class="projects">

            <div class="project-container">

                <h1 class="text-center m-5">Chat Application</h1>
                
                <div class="inside-border text-center m-10">
                    <a style="text-decoration: none; font-size: larger; font-weight: bold;" href="https://github.com/Nitish-11k/Chat-Application"> Project Link</a>
    
                    <h4 class="m-4">
                        Developed a real-time chat application using Java Socket Programming and JFrame for GUI. The app enables seamless client-server communication over the same network, showcasing skills in networking, GUI design, and Java development.</h4>
    
                </div>
                </div>

                <div class="project-container">

                    <h1 class="text-center m-5">Smart Contact Manager</h1>
                    
                    <div class="inside-border text-center m-10">
                        <a style="text-decoration: none; font-size: larger; font-weight: bold;" href="https://github.com/Nitish-11k/Smart-Contact-Manager"> Project Link</a>
        
                        <h4 class="m-4">
                            I'm currently working on my Smart Contact Manager – a web-based application that allows users to securely store and manage their contacts. The goal is to ensure users can retrieve their contacts anytime, even if they lose their mobile phone. 📱➡💻
Spent the whole day working on this, and every challenge is a step toward learning and improvement! 💪
<br>
<br>
💻 Tech Stack:
<br>
✔ Backend: Spring Boot, Spring Security, JPA, MySQL
<br>
 ✔ Frontend: HTML, CSS, Bootstrap, Thymeleaf
 <br>
 ✔ Tools: IntelliJ, Postman</h4>
        
                    </div>
                    </div>
        </div>

           


                

            

    </section>

</body>
</html>