<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base:: layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="banner  skills-container justify-content-center align-items-center">
        <br>
        <div class="image-container">
            <img src="/image/html.png" alt="html-5">
            <h1 class="image-text">HTML-5</h1>
        </div>
        <div class="image-container">
            <img src="/image/ja.png" alt="" >
            <h1 class="image-text">JAVA</h1>
        </div>
        <div class="image-container">

            <img src="/image/c.png" alt="">
            <h1>CSS</h1>
        </div>
        <div class="image-container">

            <img src="/image/mysql.png" alt="">
            <h1>MYSQL</h1>
        </div>

        <div class="image-container">

            <img src="/image/s.png" alt="">
            <h1>Spring</h1>
        </div>
        
    </section>
    
</body>
</html>